*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Fredoka One', cursive;
}
.container{
    max-width: 1200px;
    margin: auto;
}
section > h1{
    font-size: 35px;
    color: #e53170;
    margin: 40px 0px;
    
}
h1,p{
    text-align:center;
}
.clearfix::after{
    content:'';
    display: table;
    clear: both;
}
.box{
    width: 1200px;
    margin-top: 60px;
}
 
 
 .col-box{
    width: calc(1200px / 3 - 30px);
    margin: 30px 15px;
    float: left;
    background-color: #0f0e17;
    box-shadow: 10px 5px 5px 5px #cececd ;
    
 }
 
 img{
    width: 100px;
    height: 100px;
    float:left ;
   

 }
 .information{
    float: left;
    width: calc(100% - 100px);
    padding-top: 10px;
    padding-left: 18px;
    line-height: 30px;
    

 }
h3,small{
    color: white;

    
}
small{
    font-size: 18px;

}
.email{
    color: #6ecbe3;
    text-decoration: none;
}
 